.navbar {
  padding: 40px 0px;
  background-color: lightgray;
}
.card{
  margin:20px 0px;
  padding: 10px;
}
.userlist {
}
.userlist ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.panel-heading {
  padding: 15px 0px;
}
.footer {
  background-color: lightgray;
  padding: 20px 0px;
  margin-top: 40px;
}
.footer a {
  text-decoration: none;
  color: black;
}
.footer .left-footer {
  text-align: left;
}
.footer .right-footer {
  text-align: right;
}
.login-page-buttons a {
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}
