.navbar {
  padding: 40px 0px;
  background-color: lightgray;
  margin-bottom: 40px;
}
.userlist{

}
.userlist ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.panel-heading{
    height: 60px;
}
.panel-heading ul li h2{
    vertical-align: middle;
}
.panel-heading ul li span{
    vertical-align: middle;
}
.footer{
  background-color: lightgray;
  padding: 20px 0px;
  margin-top: 40px;
}
.footer a{
  text-decoration: none;
  color: black;

}
.footer .left-footer{
  text-align: left;
}
.footer .right-footer{
  text-align: right;
}
.

